<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-baichuan" version="0.2.3">
    <name>Baichuan</name>
    <description>Cordova Baichuan Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,baichuan</keywords>
    <js-module src="www/baichuan.js" name="baichuan">
        <clobbers target="baichuan" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Baichuan">
                <param name="android-package" value="CDVBaichuan" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Baichuan.java" target-dir="src/com/ace/alibc/Baichuan" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Baichuan">
                <param name="ios-package" value="CDVBaichuan"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVBaichuan.h" />
        <source-file src="src/ios/CDVBaichuan.m" />
    </platform>
</plugin>